In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LT.csv')
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [3]:
df.rename(columns = {'tourniment': 'tournament'}, inplace = True)

In [18]:
#Sukurti naują stulpelį, kuriame būtų paskaičiuota įvarčiu suma
df['score_total'] =  df['home_score'] + df ['away_score']
#Sukurti naują stulpelį, kuriame būtų paskaičiuotas įvarčių skirtumas
df['score_diff'] =  df['home_score'] - df ['away_score']
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,score_total,score_diff
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1,-1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2,-2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2,2
...,...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6,-4
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1

In [20]:
#Kiek rungtynių baigėsi lygiosiomis?

#df.groupby('goals_difference').count()
df[(df['score_diff'] == 0)].groupby ('score_diff') [['date']].count()

            date
score_diff
0             73

In [6]:
#Kokiai šaliai pralošėme didžiausiu ivarčių skirtumu, žaisdami namuose, kada tai įvyko, kokiame mieste vyko rungtynės?

df[ (df['home_team'] == 'Lithuania') & (df['score_diff'] == min(df['score_diff'] ) ) ]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, score_total, score_diff]
Index: []

In [7]:
#Kiek rungtynių Lietuva pralaimejo žaisdama Lietuvoje?

df[(df['home_team'] == 'Lithuania') & (df['score_diff'] < 0)].count()

date           68
home_team      68
away_team      68
home_score     68
away_score     68
tournament     68
city           68
country        68
score_total    68
score_diff     68
dtype: int64

In [8]:
#Kiek rungtynių Lietuviai sužaidė lygiosiomis namuose?

df[(df['home_team'] == 'Lithuania') & (df['score_diff'] == 0)].count()

date           31
home_team      31
away_team      31
home_score     31
away_score     31
tournament     31
city           31
country        31
score_total    31
score_diff     31
dtype: int64

In [9]:
#Kiek rungtynių Lietuviai sužaidė lygiosiomis išvykoje?
df[(df['away_team'] == 'Lithuania') & (df['score_diff'] == 0)].count()

date           42
home_team      42
away_team      42
home_score     42
away_score     42
tournament     42
city           42
country        42
score_total    42
score_diff     42
dtype: int64

In [10]:
#Kiek rungtynių Lietuva pralaimėjo žaisdama svetur?

df[(df['away_team'] == 'Lithuania') & (df['score_diff'] > 0)].count()

date           138
home_team      138
away_team      138
home_score     138
away_score     138
tournament     138
city           138
country        138
score_total    138
score_diff     138
dtype: int64

In [11]:
#Kiek rungtynių Lietuva laimėjo žaisdama svetur?

df[(df['away_team'] == 'Lithuania') & (df['score_diff'] < 0)].count()

date           39
home_team      39
away_team      39
home_score     39
away_score     39
tournament     39
city           39
country        39
score_total    39
score_diff     39
dtype: int64

In [12]:
#Kiek rungtynių Lietuva laimėjo žaisdama Lietuvoje?


df[(df['home_team'] == 'Lithuania') & (df['score_diff'] > 0)].count()

date           49
home_team      49
away_team      49
home_score     49
away_score     49
tournament     49
city           49
country        49
score_total    49
score_diff     49
dtype: int64